@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-img: url('/patterns/bg-pattern.svg');
    --color-bg: #FAFAFA;
    --color-secondary: #18181B;
    --color-secondary-text: #FAFAFA;
    --color-accent: #DCE5E2;
    --color-text: #FAFAFA;
    --color-dark-1: #27272A;
    --color-dark-2: #3F3F46;
    --color-dark-3: #52525B;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: #FAFAFA;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --border: 1px solid #b8b8b8;
  }

  .dark {
    --color-secondary: #FAFAFA;
    --color-secondary-text: #18181B;
    --color-bg: #18181B;
    --color-accent: #3E4C59;
    --color-text: #FAFAFA;
    --color-dark-1: #f4f4f5;
    --color-dark-2: #e4e4e7;
    --color-dark-3: #d4d4d8;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }


  /* @font-face {
    font-family: Urbanist;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  } */

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }
}

:root {
  /* Light Theme */
  /* --bg: linear-gradient(159.77deg, #B7C6E1 0.43%, #DCE5E2 38%); */
  --bg: aliceblue;
  --bg-img: url('/patterns/bg-pattern.svg');
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

.dark {
  /* Dark Theme */
  --bg: var(--color-bg);

  --bg-img: url('/patterns/bg-pattern.svg');
};

/* TYPOGRAPHY */
/* .h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
}

.h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

.h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

.blockquote {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
} */


html,
body {
    /* background-image: var(--bg-img); */
  background-blend-mode: soft-light;
  background-size: cover;
  background-color: var(--bg);
}


/* Wallet Button  */

.wallet-adapter-button-trigger {
  background: white;
  color: var(--color-secondary);
  width: 100%;
  height: 36px;
  padding: 14px;
  border-radius: 36px;
  /* border: 1px solid #000000; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Urbanist', sans-serif;
  z-index: 51;
}
.wallet-adapter-button-trigger:hover {
  color: white;
}
.wallet-adapter-dropdown-list-active,
.wallet-adapter-dropdown-list-item {
  z-index: 1000;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  justify-content: center !important;
  align-items: center !important;
  z-index: 1000;
}
.wallet-adapter-dropdown {
  display: flex;
  z-index: 1000;
}
.wallet-adapter-modal-container {
  z-index: 1000;
}
.wallet-adapter-modal{
  z-index: 1000;
}
.wallet-adapter-modal-wrapper {
  z-index: 1000;
  /* display on top of everything */
  
}

button.wallet-adapter-button-trigger {
  z-index: 1000;
}