@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color variables for future use */
  :root {
    /* --color-bg: #fcfaf8;
    --color-accent: #14cf93;
    --color-accent: ##64ffda;
    --color-accent: #61dafb;
    --color-text: #383838;
    --color-dark-2: #282828;
    --color-dark-3: #a2a2a2; */

    /* Light Theme */
    --bg: theme(colors.sky.500);
    --color-bg-secondary: theme(stone.600);
    --color-accent: theme(colors.zinc.800);
    --color-accent-light: theme(colors.sky.500/0.1);
    --color-accent-torch: theme(colors.emerald.700/0.15);
    --color-text: theme(colors.slate.600);
    --color-dark-1: theme(colors.slate.900);
    --color-dark-2: theme(colors.slate.700);
    --color-dark-3: theme(colors.slate.300);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  /* Dark Theme */
  .dark {
    --bg: red;
    --color-bg-secondary: theme(colors.stone.800);
    --color-accent: theme(colors.emerald.400);
    --color-accent-light: theme(colors.emerald.400);
    --color-text: theme(colors.slate.400);
    --color-dark-1: theme(colors.slate.200);
    --color-dark-2: theme(colors.slate.300);
    --color-dark-3: theme(colors.slate.700);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  /* @font-face {
    font-family: Urbanist;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  } */

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }
}

:root {
  /* Light Theme */
  /* --bg: linear-gradient(159.77deg, #B7C6E1 0.43%, #DCE5E2 38%); */
  --bg: aliceblue;
  --bg-img: url('/patterns/bg-pattern.svg');
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

.dark {
  /* Dark Theme */
  --bg: rgb(90, 243, 90);

  --bg-img: url('/patterns/bg-pattern.svg');
};

/* TYPOGRAPHY */

.heading-secondary,
.h2 {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}
.heading-tertiary,q
.h3 {
  @apply text-xl sm:text-2xl tracking-wide capitalize font-medium text-dark-2;
}

html,
body {
  height: 100%;
  background-image: var(--bg-img);
  background-blend-mode: soft-light;
  background-size: cover;
  background-color: var(--bg);
}


/* Wallet Button  */

.wallet-adapter-button-trigger {
  background: black !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: fit-content !important;
  justify-content: center !important;
  font-size: 13px;
  padding: 14px;
  border-radius: 28px;
  border: 1px solid #000000;
  align-self: center;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  justify-content: center !important;
  align-items: center !important;
}
